<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--包含springboot对logback日志的默认配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"></include>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:${java.io.tmpdir:/temp}}}/spring.log}"></property>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"></include>

    <!--重写了springboot框架org/springframework/boot/logging/logback/file-appender.xml配置-->
    <appender name="TIME_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyyMMdd}.%i</FileNamePattern>
            <!--保留历史日志一个月的时间-->
            <maxHistory>30</maxHistory>
            <!--
            SpringBoot默认情况下，日志文件10M是，会切分日志文件，这样设置日志文件会在100M时切分日志
            -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TIME_FILE"/>
    </root>
</configuration>